.navbar {
  height: 75px;
  width: 100%;
  padding: 5px;
}
.logo {
  width: 158px;
  background-size: cover;
  margin: 0 70px;
}

.navbar-container {
  display: flex;
  align-items: center;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}
.navbar-left a {
  color: #000000;
  font-size: 19px;
  font-weight: bold;
  line-height: 21.79px;
  margin-left: 70px;
}

.navbar-option button {
  background-image: linear-gradient(
    47.99deg,
    #2e8174 0%,
    #30a996 42.53%,
    #00ffd9 100%
  );
  border: none;
  border-radius: 15px;
  width: 128px;
  height: 52px;
  color: #000000;
  font-family: OpenSans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21.79px;
  text-align: center;
  margin-right: 50px;
}

.Burger-menu {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .navbar {
    background-color: #242726;
    width: 100%;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-option {
    display: none;
  }
  .Burger-menu {
    display: inline-block;
  }
  .navbar-container {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 461px) {
  .logo {
    width: 100px;
    margin: 0 40px;
  }
  .Burger-menu {
    width: 40px;
  }
}
